/* General styling for the page */
@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border-radius: 10%;
}

section {
  grid-column: 2 / 6;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  border-radius: 10%;
}

blockquote {
  margin: auto;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  display: block;
  line-height: 1;
}

.contact {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  display: block;
  grid-column: 2 / 6;
  background-color: transparent;
  line-height: 1.5;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 50px; /* Space between logos */
  margin: 20px 0; /* Margin around the container */
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  transition: filter 0.3s ease-in-out;
}

.logo.discord-logo:hover {
  filter: drop-shadow(0 0 15px #7289da); /* Discord blue */
}

.logo.fiverr-logo:hover {
  filter: drop-shadow(0 0 15px #1dbf73); /* Fiverr green */
}

.logo.upwork-logo:hover {
  filter: drop-shadow(0 0 15px #6fda44); /* Upwork green */
}

.logo.linkedin-logo:hover {
  filter: drop-shadow(0 0 15px #0a66c2); /* LinkedIn blue */
}

.logo.github-logo:hover {
  filter: drop-shadow(0 0 15px #acacac); /* GitHub gray */
}
